body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.display{
    height: 50px;
    text-align: end;
    padding-right: 15px;
    padding-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}

#display{
    border-bottom: solid 1px rgb(128, 128, 128);
    font-size: 50px;
}

#previous{
    font-size: 25px;
    height: 35px;
}

.keys{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
    grid-template-areas: 
    ". . . ."
    "seven eight nine equal"
    "four five six equal"
    "one two three equal"
    "decimal zero clear equal";
}

button{
    font-size: 30px;
    border: none;
    box-shadow: 0 0 1px;
    background-color: rgb(255, 255, 255);
    transition: transform 0.3s, background-color 0.3s; 
}

button:hover{
    background-color: rgba(128, 128, 128, 0.35);
    cursor: pointer;
    transform: translateY(-5px) translateX(3px);
}

.operators{
    background-color: rgba(128, 128, 128, 0.5);
}

.one{
    grid-area: one;
}

.two{
    grid-area: two;
}

.three{
    grid-area: three;
}

.four{
    grid-area: four;
}

.five{
    grid-area: five;
}

.six{
    grid-area: six;
}

.seven{
    grid-area: seven;
}

.eight{
    grid-area: eight;
}

.nine{
    grid-area: nine;
}

.decimal{
    grid-area: decimal;
}

.zero{
    grid-area: zero;
}

.clear{
    grid-area: clear;
}

.equal{
    grid-area: equal;
    background-color: rgba(66, 103, 178, 0.9);
    color: white;
}

.equal:hover{
    background-color: rgba(66, 103, 178, 0.8);
}